Darkages.Server/Types/schema0.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="MonsterTemplate" nillable="true" type="MonsterTemplate" />
  <xs:complexType name="MonsterTemplate">
    <xs:complexContent mixed="false">
      <xs:extension base="Template">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="Drops" type="ArrayOfString" />
          <xs:element minOccurs="1" maxOccurs="1" name="Image" type="xs:unsignedShort" />
          <xs:element minOccurs="0" maxOccurs="1" name="ScriptName" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="DefinedX" type="xs:unsignedShort" />
          <xs:element minOccurs="1" maxOccurs="1" name="DefinedY" type="xs:unsignedShort" />
          <xs:element minOccurs="1" maxOccurs="1" name="LootType" type="LootQualifer" />
          <xs:element minOccurs="1" maxOccurs="1" name="MoodType" type="MoodQualifer" />
          <xs:element minOccurs="1" maxOccurs="1" name="SpawnType" type="SpawnQualifer" />
          <xs:element minOccurs="1" maxOccurs="1" name="ElementType" type="ElementQualifer" />
          <xs:element minOccurs="1" maxOccurs="1" name="PathQualifer" type="PathQualifer" />
          <xs:element minOccurs="1" maxOccurs="1" name="Level" type="xs:int" />
          <xs:element minOccurs="1" maxOccurs="1" name="MaximumHP" type="xs:int" />
          <xs:element minOccurs="1" maxOccurs="1" name="MaximumMP" type="xs:int" />
          <xs:element minOccurs="1" maxOccurs="1" name="AreaID" type="xs:int" />
          <xs:element minOccurs="1" maxOccurs="1" name="MovementSpeed" type="xs:int" />
          <xs:element minOccurs="1" maxOccurs="1" name="CastSpeed" type="xs:int" />
          <xs:element minOccurs="1" maxOccurs="1" name="SpawnMax" type="xs:int" />
          <xs:element minOccurs="1" maxOccurs="1" name="SpawnRate" type="xs:int" />
          <xs:element minOccurs="1" maxOccurs="1" name="SpawnSize" type="xs:int" />
          <xs:element minOccurs="1" maxOccurs="1" name="AttackSpeed" type="xs:int" />
          <xs:element minOccurs="1" maxOccurs="1" name="IgnoreCollision" type="xs:boolean" />
          <xs:element minOccurs="1" maxOccurs="1" name="ImageVarience" type="xs:int" />
          <xs:element minOccurs="1" maxOccurs="1" name="SpawnOnlyOnActiveMaps" type="xs:boolean" />
          <xs:element minOccurs="1" maxOccurs="1" name="Grow" type="xs:boolean" />
          <xs:element minOccurs="0" maxOccurs="1" name="SpellScripts" type="ArrayOfString" />
          <xs:element minOccurs="0" maxOccurs="1" name="SkillScripts" type="ArrayOfString" />
          <xs:element minOccurs="1" maxOccurs="1" name="DefenseElement" type="Element" />
          <xs:element minOccurs="1" maxOccurs="1" name="OffenseElement" type="Element" />
          <xs:element minOccurs="0" maxOccurs="1" name="Waypoints" type="ArrayOfPosition" />
          <xs:element minOccurs="1" maxOccurs="1" name="UpdateMapWide" type="xs:boolean" />
          <xs:element minOccurs="0" maxOccurs="1" name="FamilyKey" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="NextAvailableSpawn" type="xs:dateTime" />
          <xs:element minOccurs="1" maxOccurs="1" name="SpawnCount" type="xs:int" />
          <xs:element minOccurs="0" maxOccurs="1" name="BaseName" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="EngagedWalkingSpeed" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="Template" abstract="true">
    <xs:complexContent mixed="false">
      <xs:extension base="ObjectManager">
        <xs:sequence>
          <xs:element minOccurs="1" maxOccurs="1" name="ID" type="xs:int" />
          <xs:element minOccurs="0" maxOccurs="1" name="Name" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="Description" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="Group" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ObjectManager" />
  <xs:complexType name="ArrayOfString">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="LootQualifer">
    <xs:list>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="Random" />
          <xs:enumeration value="Table" />
          <xs:enumeration value="Event" />
          <xs:enumeration value="Gold" />
          <xs:enumeration value="None" />
        </xs:restriction>
      </xs:simpleType>
    </xs:list>
  </xs:simpleType>
  <xs:simpleType name="MoodQualifer">
    <xs:list>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="Idle" />
          <xs:enumeration value="Aggressive" />
          <xs:enumeration value="Unpredicable" />
          <xs:enumeration value="Neutral" />
          <xs:enumeration value="VeryAggressive" />
        </xs:restriction>
      </xs:simpleType>
    </xs:list>
  </xs:simpleType>
  <xs:simpleType name="SpawnQualifer">
    <xs:list>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="Random" />
          <xs:enumeration value="Defined" />
        </xs:restriction>
      </xs:simpleType>
    </xs:list>
  </xs:simpleType>
  <xs:simpleType name="ElementQualifer">
    <xs:restriction base="xs:string">
      <xs:enumeration value="None" />
      <xs:enumeration value="Random" />
      <xs:enumeration value="Defined" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="PathQualifer">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Wander" />
      <xs:enumeration value="Fixed" />
      <xs:enumeration value="Patrol" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Element">
    <xs:restriction base="xs:string">
      <xs:enumeration value="None" />
      <xs:enumeration value="Fire" />
      <xs:enumeration value="Water" />
      <xs:enumeration value="Wind" />
      <xs:enumeration value="Earth" />
      <xs:enumeration value="Light" />
      <xs:enumeration value="Dark" />
      <xs:enumeration value="Random" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="ArrayOfPosition">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Position" nillable="true" type="Position" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Position">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="X" type="xs:unsignedShort" />
      <xs:element minOccurs="1" maxOccurs="1" name="Y" type="xs:unsignedShort" />
      <xs:element minOccurs="1" maxOccurs="1" name="AreaID" type="xs:unsignedShort" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>